@define-color foreground #C0C8D8;
@define-color background #242933;
@define-color background-light #3B4252;
@define-color accent #80B3B2;
@define-color highlight #434C5E;

#window,
#box,
#search,
#input,
#typeahead,
#list,
child,
#item,
#text,
#label,
#bar {
  all: unset;
}

#window {
  color: @foreground;
}

#box {
  border-radius: 10px;
  background: alpha(@background, 0.5);
  padding: 32px;
  border: 2px solid @accent;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

#search {
  padding: 8px;
  border-radius: 10px;
  border: 2px solid @accent;
  box-shadow: none;
}

child {
  padding: 8px;
  border-radius: 10px;
}
child:selected,
child:hover {
  background: alpha(@highlight, 0.4);
}
