@define-color foreground #C0C8D8;
@define-color background #242933;
@define-color background-light #3B4252;
@define-color accent #80B3B2;
@define-color highlight #434C5E;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#window {
  color: @foreground;
}

#box {
  border-radius: 10px;
  background: alpha(@background, 0.5);
  padding: 32px;
  border: 2px solid @accent;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

#search {
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 2px solid @accent;
  box-shadow: none;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @foreground;
}

child {
  padding: 8px;
  border-radius: 10px;
}

child:selected,
child:hover {
  background: alpha(@highlight, 0.4);
}

.activation #activationlabel {
  color: @accent;
  font-weight: bold;
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

#icon {
  margin-right: 8px;
}
