* {
  font-family: FiraCode Nerd Font Propo, Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#clock,
#workspaces,
#connections,
#hardware,
#privacy,
#user,
#wireplumber,
#custom-power {
  border-radius: 10px;
  background: rgba(63, 63, 63, 0.8);
  padding: 0px 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
}

#clock.time {
  margin-left: 0px;
}
#custom-power {
  margin-right: 0px;
  padding: 0px 12px;
}

#connections label,
#hardware label {
  margin: 0 10px;
}

#workspaces button {
  background: white;
  padding: 0px 0px;
  margin: 10px 5px;
  transition: all 0.2s ease;
  border-radius: 10px;
  border-style: none;
}
#workspaces button:hover {
  background: white;
  border-color: rgba(0, 0, 0, 0);
  border-style: none;
  box-shadow: none;
}
#workspaces button.active {
  background: red;
  padding: 0px 30px;
}
#workspaces button.active:hover {
  background: red;
}
#workspaces button label {
  font-size: 12px;
}
