* {
    font-family: FireCode Nerd Font Mono, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#clock,
#workspaces,
#connections,
#hardware,
#privacy,
#user,
#wireplumber,
#custom-power {
  border-radius: 10px;
  background: #3f3f3f;
  padding: 0px 10px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

#clock.time {
  margin-left: 20px;
}
#custom-power {
  margin-right: 20px;
}

#connections label,
#hardware label {
  margin: 0 10px;
}

#workspaces button {
  background: white;
  padding: 0px 0px;
  margin: 10px 5px;
  transition: all 0.2s ease;
  border-radius: 10px;
  border-style: none;
}
#workspaces button:hover {
  background: white;
  border-color: rgba(0, 0, 0, 0);
  border-style: none;
  box-shadow: none;
}
#workspaces button label {
  font-size: 10px;
}
#workspaces button.active {
  background: red;
  padding: 0px 25px;
}
